/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        sticky: sticky {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY";
            bindings = <&none>;
            #binding-cells = <1>;
            quick-release;
            release-after-ms = <250>;
        };

        comma_bang: comma_bang {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_BANG";
            bindings = <&kp COMMA>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        period_question: period_question {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIOD_QUESTION";
            bindings = <&kp PERIOD>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };
    
    &sk {
        quick-release;
    };
 
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp F     &kp P  &kp B             &kp J      &kp L  &kp U          &kp Y             &kp SEMICOLON  &kp BSPC
&mo 1      &kp A  &kp R  &kp S     &kp T  &kp G             &kp M      &kp N  &kp E          &kp I             &kp O          &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp D  &kp V             &kp K      &kp H  &comma_bang    &period_question  &kp MINUS      &kp ENTER
                         &kp LGUI  &mo 2  &sk LEFT_SHIFT    &kp SPACE  &mo 3  &kp RIGHT_GUI
            >;
        };

        Nav {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp N1            &kp N2        &kp N3        &kp N4             &kp N5    &kp N6         &kp LG(LEFT)       &kp UP_ARROW           &kp LG(RIGHT)      &kp LG(LA(N0))  &kp LA(BSPC)
&trans     &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &kp LC(LA(LS(V)))  &trans    &kp LG(Z)      &kp LEFT_ARROW     &kp DOWN               &kp RIGHT          &kp LG(SEMI)    &kp GRAVE
&kp LSHFT  &trans            &trans        &kp LC(C)     &trans             &trans    &kp LC(LA(B))  &kp LC(LA(LG(N)))  &kp LG(SPACE)          &kp LC(LA(LG(H)))  &kp SLASH       &kp ESCAPE
                                           &trans        &trans             &trans    &kp LC(SPACE)  &kp LC(SLASH)      &kp RC(LS(BACKSLASH))
            >;

            label = "Nav";
        };

        Symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp LG(TAB)  &kp LG(Q)  &kp LG(W)  &kp LG(F)  &kp LG(P)  &kp PRCNT    &kp AMPERSAND  &kp LEFT_BRACKET  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp RPAR          &kp DELETE
&trans       &kp LG(A)  &kp LG(R)  &kp LG(S)  &kp LG(T)  &kp SLASH    &kp DOLLAR     &kp LESS_THAN     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN  &kp DOUBLE_QUOTES
&trans       &trans     &kp LG(X)  &kp LG(C)  &kp LG(D)  &kp LG(V)    &kp PLUS       &kp EQUAL         &kp EXCL              &kp QUESTION           &kp PIPE          &kp LG(ENTER)
                                   &trans     &trans     &trans       &trans         &trans            &trans
            >;

            label = "Symbols";
        };

        Numbers {
            bindings = <
&trans     &kp AMPERSAND  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERCENT      &kp AMPERSAND  &kp ASTERISK  &kp CARET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&kp TILDE  &kp NUMBER_0   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH        &kp DOLLAR     &kp AT_SIGN   &kp HASH   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans
&trans     &trans         &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp BACKSLASH    &kp PLUS       &kp EQUAL     &kp COMMA  &kp PERIOD            &kp MINUS              &trans
                                        &trans        &trans        &trans           &trans         &trans        &trans
            >;

            label = "Numbers";
        };
    };
};
